<%-include partials/header.ejs %>
    <h1><%= title %></h1>
    <div>Phone    : <%= phone %></div>
    <div>Email    : <%= email %></div>
    <div>GIT      : <%= git %></div>
    <div>Linkedin : <%= linkedin %></div>
<%-include partials/footer.ejs %>
