<%-include partials/header.ejs %>
    <h1><%= title %></h1>
    <p><%= messege %></p>
    <div>
      <ul>
        <li><i class="fa fa-phone fa-md"></i></a><%= phone %></li>
        <li><a href = "<%= git %>"><i class="fa fa-github-square fa-lg"></i></a></li>
        <li><a href = "<%= linkedin %>"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    </div>
<%-include partials/footer.ejs %>
